
    <head>Wild Savannah</head>


        <div>
            <mat-sidenav-container class='example-container'>
                <mat-sidenav opened mode='side'position='start'class='bee'>
                        <mat-nav-list>
                                <mat-list-item > <a href="posts">Home</a> </mat-list-item>
                                <!-- <a mat-list-item href="registration">register</a> -->
                                <mat-list-item> <a href="">More Info</a> </mat-list-item>
                                <mat-list-item> <a href="registration">Contact Us</a></mat-list-item>
                        </mat-nav-list>
                </mat-sidenav>
                    <h1 class='heading'>Natural Parks</h1>
                    <p class="para">
            A national park is a park in use for conservation purposes.<br>
             Often it is a reserve of natural, semi-natural, or developed land that a sovereign state declares or owns. 
             Although individual nations designate their own national parks differently, 
             there is a common idea: <br>the conservation of 'wild nature' for posterity and as a symbol of national pride
            </p>
            <p class='tt'>
                    The Tanzania National Parks Authority commonly known as TANAPA is responsible for the management of Tanzania's national parks. <br>
                    TANAPA is a parastatal corporation and all its income is reinvested into the organization. It is governed by a number of instruments including the National Parks Act, Chapter 282 of the 2002 and the Wildlife Conservation Act No. 5 of 2009.[1] TANAPA manages the nation's 17 National parks which covers approximately 15% of the land area and has the mandate to conserve and manage the wildlife in Tanzania, and to enforce the related laws and regulations in this industry. It manages the biodiversity of the country, protecting and conserving the flora and fauna. The organization does not have a mandate over the game reserves such as the Selous Game Reserve which is managed by the Tanzanian Wildlife Division and the Ngorongoro Conservation Area managed by the Ngorongoro Conservation Authority.
            </p>
            
            </mat-sidenav-container>
        </div>
        
        
